.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    @media screen and (min-width: 150px) {
        
            margin-bottom: 70px;
            
            
    }
    @media screen and (min-width: $tablet) {
        
            margin-bottom: 60px;
            justify-content: center;
        
    }
    @media screen and (min-width: $desktop) {
        
            margin-bottom: 80px;
            justify-content: center;
        
        
    }

}


  