:root {
    --color-logo: #000000;
    --color-main: #ffffff;
    --hero-footer-bcg: #2f303a;
    --color-txt-main: #757575;
    --color-txt-basic: #212121;
    --font-basic: 'Raleway', sans-serif;
    --font-main: 'Roboto', sans-serif;
    --brand-color: #2196f3;
    --accent-color: #188ce8;
    --bcg-color: #f5f4fa;
    
    --icon-static-color: #AFB1B8;
    --count-cards: 3;
    --dst-between: 30px;
  }