:root {
  --font-basic: 'Raleway', sans-serif;
  --font-main: 'Roboto', sans-serif;
  --main-color: #212121;
  --brand-color: #2196F3;
  --second-color: #757575;
  --third-color: #FFFFFF;
  --bgd-scl: #F5F4FA;
  --accent-color: #188ce8;
  --icon-static-color: #AFB1B8;
  --hero-footer-bcg: #2f303a;
  --count-cards: 4;
  --dst-between: 30px;

  --animation-regular: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    // --color-logo: #000000;
    
  }