.footer {
    background-color: var(--hero-footer-bcg);
    padding-top: 60px;
    padding-bottom: 60px;
 }
    
      
.footer__container {  
    display: flex;
    flex-wrap: wrap;
    
    @media screen and (max-width: 767px){
      flex-direction: column;
      justify-content: center;
    }
    @media screen and (min-width: $tablet){
      align-items: baseline;
      justify-content: space-around;
    }
  
}

.footer__logo{
  
  margin-bottom: 20px;

  @media screen and (max-width: 1199px){
    text-align: center;
  }
}
        
    
